/* ----- Margins And Padding ----- */

.top-padding-xsmall {
  padding-top: 5px;
}
.top-padding-small {
    padding-top: 10px;
}
.top-margin-small {
    margin-top: 10px;
}

.bottom-margin-small {
    margin-bottom: 10px;
}

.bottom-margin-medium {
    margin-bottom: 15px;
}

.bottom-margin-large {
    margin-bottom: 20px;
}

.bottom-margin-xlarge {
    margin-bottom: 30px;
}

.bottom-margin-xsmall {
    margin-bottom: 5px;
}

.right-margin-xsmall {
    margin-right: 5px;
}

.right-margin-small {
    margin-right: 10px;
}

.bottom-padding-xsmall {
    padding-bottom: 5px;
}
.bottom-padding-small {
    padding-bottom: 10px;
}

.left-padding-xsmall {
    padding-left: 5px;
}
.left-padding-none {
    padding-left: 0;
}
.right-padding-none {
    padding-right: 0;
}
.bottom-padding-none {
    padding-bottom: 0;
}
.top-padding-none {
    padding-top: 0;
}

/* ----- Margins And Padding ----- */

